@page
@model MegaDeskRazorPages.Pages.MegaDeskRazor.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MegaDesk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MegaDesk.ID" />
            <div class="form-group">
                <label asp-for="MegaDesk.WidthDesk" class="control-label"></label>
                <input asp-for="MegaDesk.WidthDesk" class="form-control" />
                <span asp-validation-for="MegaDesk.WidthDesk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.DepthDesk" class="control-label"></label>
                <input asp-for="MegaDesk.DepthDesk" class="form-control" />
                <span asp-validation-for="MegaDesk.DepthDesk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.SizeDesk" class="control-label"></label>
                <input asp-for="MegaDesk.SizeDesk" class="form-control" />
                <span asp-validation-for="MegaDesk.SizeDesk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.Drawers" class="control-label"></label>
                <input asp-for="MegaDesk.Drawers" class="form-control" />
                <span asp-validation-for="MegaDesk.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.Material" class="control-label"></label>
                <input asp-for="MegaDesk.Material" class="form-control" />
                <span asp-validation-for="MegaDesk.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.CustomerName" class="control-label"></label>
                <input asp-for="MegaDesk.CustomerName" class="form-control" />
                <span asp-validation-for="MegaDesk.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.RushDays" class="control-label"></label>
                <input asp-for="MegaDesk.RushDays" class="form-control" />
                <span asp-validation-for="MegaDesk.RushDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.QuoteDate" class="control-label"></label>
                <input asp-for="MegaDesk.QuoteDate" class="form-control" />
                <span asp-validation-for="MegaDesk.QuoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.TotalCost" class="control-label"></label>
                <input asp-for="MegaDesk.TotalCost" class="form-control" />
                <span asp-validation-for="MegaDesk.TotalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
